<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
<style>
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, 
.table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	padding: 1px;
}
</style>
</head>
<body>
	<div class="container">
		<h2>Newsroom phone list</h2>
		<p>This page is only reachable from within the building or if you're authenticated (logged in) outside of it. {#Corrections to <a href="mailto:webeditors@registerguard.com?subject=Phone list correction">webeditors@registerguard.com</a>. #}(See John, Rob or Carl if you don't have a log in.)</p>
		<div class="table-responsive">
			<table class="table table-condensed table-striped">
				<thead>
				<tr>
					<th>Name</th>
					<th>Extension</th>
					<th>Cell</th>
					<th>Home</th>
					<th>Address</th>
				</tr>
				</thead>
				<tbody>
				{% for staffer in object_list %}
				<tr>
					<td>{{ staffer.last_name }}, {{ staffer.first_name_middle }}</td>
					<td>{{ staffer.extension }}</td>
					<td>{{ staffer.cell_phone }}</td>
					<td>{{ staffer.home_phone }}</td>
					<td>{{ staffer.address }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>