<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Staff phone list</title>
		
		<style type="text/css">
			div#multicolumn1 {
				-moz-column-count: 4;
				-moz-column-gap: 10px;
				-webkit-column-count: 4;
				-webkit-column-gap: 10px;
				column-count: 4;
				column-gap: 10px;
				width: 750px;
			}
			
			.ext {
				float: right;
				background: none repeat scroll #FFFFFF;
			}
			
			ul {
				margin: 0 0 0 0;
				padding-left: 0;
			}
			
			li {
				background: url("http://assets.registerguard.com/v4.0/services/1.0/css/../images/template/rule-01.gif") repeat-x scroll left bottom transparent;
				list-style: none outside none;
				font: 13px/1.231 arial,helvetica,clean,sans-serif;
			}
			
			li a {
				background: none repeat scroll #FFFFFF;
				text-decoration: none;
			}
			.tip {
				color: #fff;
				background:#1d1d1d;
				display:none; /*--Hides by default--*/
				padding:10px;
				position:absolute;    z-index:1000;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
			}
		</style>
	</head>
	<body>
		<div id="multicolumn1">
			<ul>
			{% for staffer in object_list %}
				<li><a href="#" class="tip_trigger">{{ staffer.last_name }}, {{ staffer.first_name_middle }}<span class="tip"><img src='http://intranet2.guardnet.com/photoid/{{ staffer.cgi_photo_id }}.jpg'></span></a> <span class="ext">{{ staffer.extension }}</span></li>
			{% endfor %}
			</ul>
		</div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				//Tooltips
				$(".tip_trigger").hover(function(){
					tip = $(this).find('.tip');
					tip.show(); //Show tooltip
				}, function() {
					tip.hide(); //Hide tooltip
				}).mousemove(function(e) {
					var mousex = e.pageX + 20; //Get X coodrinates
					var mousey = e.pageY + 20; //Get Y coordinates
					var tipWidth = tip.width(); //Find width of tooltip
					var tipHeight = tip.height(); //Find height of tooltip
			
					//Distance of element from the right edge of viewport
					var tipVisX = $(window).width() - (mousex + tipWidth);
					//Distance of element from the bottom of viewport
					var tipVisY = $(window).height() - (mousey + tipHeight);
			
					if ( tipVisX < 20 ) { //If tooltip exceeds the X coordinate of viewport
						mousex = e.pageX - tipWidth - 20;
					} if ( tipVisY < 20 ) { //If tooltip exceeds the Y coordinate of viewport
						mousey = e.pageY - tipHeight - 20;
					}
					//Absolute position the tooltip according to mouse position
					tip.css({  top: mousey, left: mousex });
				});
			});
		</script>
	</body>
</html>