{% extends "dox/bulldog.html" %}

{% load encode_mailto %}

{% block head_title %}Contact us{% endblock head_title %}

{% block head_description %}Contact The Register-Guard by department or name.{% endblock head_description %}

{% block head_keywords %}registerguard,contact,staff,department,name{% endblock head_keywords %}

{% block content %}
	
	<div class="give take">
		
		<section>
			
			<h1 class="reverse">Departments</h1>
			
			<ul class="li1">
				
				{% for department in departments %}
					<li><a href="#{{ department.department_title|lower }}">{{ department.department_title }}</a></li>
				{% endfor %}
				
			</ul> <!-- /.li1 -->
			
			<h2 class="reverse">Feedback</h2>
			
			<h3 class="h4">Have a suggestion, comment, complaint?</h3>
			<p>We welcome comments from readers. If you have general suggestions, please contact the following:</p>
			
			{% regroup selecteds by top_section as selecteds_list %}
			
			<ul class="li2">
			
				{% for selected_name in selecteds_list %}
					
					<li>
						
						<b>{{ selected_name.grouper|safe }}</b>
						
						{% if selected_name.grouper.extra_text %}
							<br>
							<i>{{ selected_name.grouper.extra_text|safe }}</i>
						{% endif %}
						
						<ul>
							
							{% for selected in selected_name.list %}
								
								<li>{{ selected.position }}: {{ selected.email|encode_mailto:selected.full_name|safe }}</li>
								
							{% endfor %}
							
						</ul>
						
					</li>
					
				{% endfor %}
				
			</ul> <!-- /.li2 -->
			
			<h2 class="reverse">Department directory</h2>
			
			{% regroup object_list by department as staffer_list %}
			
			<ul class="li2">
			
				{% for staffer in staffer_list %}
					
					<li id="{{ staffer.grouper|lower }}">
						
						<b>{{ staffer.grouper }}</b>
						
						<ul>
							
							{% for employee in staffer.list %}
								
								<li>
									{{ employee.first_name_middle }} {{ employee.last_name }}{% if employee.position %}, {{ employee.position }}{% endif %}{% if employee.more_info %}, <i>{{ employee.more_info }}</i>{% endif %}{% if employee.email %}, {{ employee.email|encode_mailto:employee.email|safe }}{% endif %}{% if employee.other_email %}, {{ employee.other_email|encode_mailto:employee.other_email|safe }}{% endif %}{% if employee.extension %}, 541-338-{{ employee.extension }}{% else %}, {{ employee.phone }}{% endif %}
									{% if employee.twitter_id %}
										<br>
										<a href="https://twitter.com/{{ employee.twitter_id }}" class="twitter-follow-button" data-show-count="true">Follow {{ employee.twitter_id }}</a>
									{% endif %}
								</li>
							{% endfor %}
							
						</ul>
						
					</li>
					
				{% endfor %}
				
			</ul> <!-- /.li2 -->
			
			<small>Last modified: {{ last_modified.0.last_modified }}</small>
			
		</section>
		
	</div> <!-- /.give -->
	
{% endblock content %}

{% block footer_extra %}
	
	{{ block.super }}
	
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	
{% endblock footer_extra %}
